*margin{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
  background-color: black;
    color: white;
} 
.left{
    width: 25vw;
    padding: 10px;
    height: 100%;
}
.right{
    width: 75vw;
    position: relative;
}
.home ul li{
width:14px;
list-style: none;
display: flex;
gap: 15px;
padding-top: 14px;
font-weight: bold;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px ;
}
.m1
{
    margin: 5px;
}
.home{
    padding: 10px;
}
.heading{
width:100%;
display: flex;
gap: 15px;
padding: 14px;
font-weight: bold;
padding-top: 23px 14px;
align-items: center;
font-size: 13px;
}
.heading img{
    width: 100px;
}
.library{
    min-height: 80vh;
    position: relative;
}
.heading img{
    width: 30px;
}
.footer{
    display: flex;
    font-size: 15px;
    color: grey;
    gap:13px;
    position: relative;
    top: 10px;
    padding: 10px 0;
    flex-wrap: wrap;
    padding: 34px;  
}

.footer a{
    color: grey; 
}
.right{
    margin: 10px 0;
    max-height: 100vh;
    overflow: scroll;
}
.header
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 75px;
}
.header > *{
    padding: 20px;
}
.spotifyPlaylists
{
padding: 16px;
}
.spotifyPlaylists h1
{
padding: 16px;
}
  /* .card > *{
    padding-top: 10px;
   
}   */
.cardContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
    max-height: 70vh;
    overflow-y: auto;
   
}
.card
{
width :150px;
padding: 10px;
border-radius: 5px;
background-color: #252525;
height: auto;
position: relative;
}
.card img{
    width: 100%;
    object-fit: contain;
    padding-top: 10px;
}
.card h2{
    font-size: 20px;
}
.card p{
    font-size: 15px;
}
.play{
    background-color: #1fdf67;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 130px;
    right: 0;
    margin-right: 15px;
    opacity: 1;
    transition: all 1s ease-out;
    
}
.play svg{
    width: 75%;
    margin-top: 2px;
}
.signupbtn
{
    font-weight: bold;
    background-color: rgb(34, 34, 34);
    color: grey;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover
{
    font-size: 17px;
    color: white;
}
.buttons > *{
    margin: 0 12px;
}
.loginbtn 
{
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px; 
    width: 79px;
    padding: 10px;
   border-radius: 21px;  
   font-size: 16px;
}
.loginbtn:hover
{
    font-weight: bold;
    font-size: 17px;
}
.playbar{
    position: fixed;
    bottom: 30px;
    background-color: #1d7b3a;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 68vw;
    min-height: 40px;
}
.songList{
    margin-bottom: 44px;
}
.songList ul{
padding: 0 42px;
}
.hamburger{
    display: none;
}
.hamburgercont{
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding:12px 0;
    margin: 12px;
     padding: 13px;
    border: 1px solid white;
    border-radius: 5px;

}
.playNow{
    display: flex;
    justify-content:center;
    align-items: center;
}
.playNow span{
font-size: 15px;
width: 40px;
padding: 12px;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}
.seekbar{
    height: 4px;
    width: 98%;
    background-color: rgb(69, 71, 70);
    position: absolute;
    border-radius: 10px;
    bottom: 5px;
    margin: 6px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom:6px;
    left: 0%;
}

.songbuttons img{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 70px;
}
.songtime{
    position: absolute;
    right: 250px;
}
.volume{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.volume img{
    position: absolute;
    left: 310px;
    top: -5px;

} 
.volume input{
    position: absolute;
    left: 350px; 
    accent-color: rgb(220, 243, 220);    

}

.close{
    display: none;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    margin:  20px 0;
} 



@media (max-width:1400px) {
    .left{
        position: absolute;
        transition: all .3s;
        left: -120%;
        z-index: 1;
        width: 370px;
        background-color: black;
    }
    .songinfo{
        width: auto;
    }
    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .right{
        width: 100%;
    }
    .playbar{
        width: calc(100vw - 75px);
    }
    .seekbar{
        width: calc(100vw - 75px);
    }
    .hamburger{
        display: block;
    }
    .card{
        width: 90vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .close{
        display: block;
    }
    .right{
    margin: 0;
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }


}
